/*

    상단 헤더 영역
    로그인 및 회원가입

*/


/* 상단 헤더 영역 */
.ls-header {
    padding: 0 16px 0 32px;
    /*background-color: var(--color-dim);*/
    background-color: rgba(255,255,255,.4);
    border-bottom:  1px solid var(--color-disabed);
}
.ls-header::after { display: block; clear: both; content: '';}
.ls-header .left-logo {
    float: left;
    padding: 16px 0;
    font-size: var(--h6-font);
    line-height: var(--h6-lh);
    font-weight: 900;
    color: var(--color-primary);
}
.ls-header .right-nav { position: relative; float: right; }
.ls-header .right-nav ul { padding: 0; margin: 0; font-size: 0;}
.ls-header .right-nav ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
}
.ls-header .right-nav ul li a {
    display: inline-block;
    font-size: var(--body-font);
    line-height: var(--body-lh);
    color: var(--color-black);
    padding: 24px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}
.ls-header .right-nav ul li a:hover + .drop-down,
.ls-header .right-nav ul li a + .drop-down:hover { display: block; }
.ls-header .right-nav ul li a + .drop-down {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 12px 0;
    background-color: var(--color-white);
    border-radius: 16px;
    box-shadow: var(--shadow-box);
}
.ls-header .right-nav ul li a + .drop-down li { display: block; }
.ls-header .right-nav ul li a + .drop-down li a {
    font-size: var(--body2-font);
    line-height: var(--body2-lh);
    padding: 12px 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.ls-header .right-nav ul li a + .drop-down li:hover a {
    color: var(--color-primary);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.ls-header .right-side {
    display: none;
    height: 48px;
    width: 48px;
    float: right;
    margin: 8px 0 0;
    border: none;
    background: url("../img/svg/ls_hamburger_b.svg") center / 75% no-repeat;
}
@media screen and (max-width: 767px) {
    .ls-header .right-nav { display: none; }
    .ls-header .right-side { display: block; }
}


/* 모바일 사이드 메뉴 */
.ls-header-side {
    display: none;
    /*display: block;*/
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}
.ls-header-side.open { display: block; overflow: auto }
.ls-header-side__close {
    float: right;
    position: relative;
    top: -16px;
    right: -16px;
    width: 48px;
    height: 48px;
    border: none;
    background: url("../img/svg/ls_close_b.svg") center / 75% no-repeat;
}
.ls-header-side__body {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 50%;
    min-height: 100%;
    padding: 24px 32px;
    background: var(--color-white);
}
.ls-header-side__body p,
.ls-header-side__body h6 { clear: both; }
.ls-header-side__body ul {
    padding: 0;
}
.ls-header-side__body ul li {
    list-style: none;
}
.ls-header-side__body ul li a{
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    font-size: var(--body-font);
    line-height: var(--body-lh);
    border-bottom: 1px solid #e6e7e9;
}
.ls-header-side__body ul li:last-of-type a {border: none; }
.ls-header-side__fade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}









/*로그인 및 회원가입*/
.ls-login__section {
    max-width: 442px;
    margin: 48px auto;
    padding: 32px;
    border-radius: 24px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-box);
}
.ls-login__section h6{ margin-bottom: 32px;}
.ls-login__section .ls-primary-button--l { margin-top: 48px; }
.ls-login__sns { text-align: center; margin-top: 48px; }
.ls-login__sns p { margin-bottom: 24px; }
.ls-login__sns .ls-login__sns__button {
    font-size: 0;
}
.ls-login__sns .ls-login__sns__button button {
    width: 48px;
    height: 48px;
    margin: 0 8px;
    border: none;
    border-radius: 8px;
}
.ls-login__link { margin-top: 48px;}
.ls-login__link::after { display: block; clear: both; content: '';}
.ls-login__link a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--body-font);
    line-height: var(--body-lh);
}
.ls-login__link a:hover { opacity: .8;}
.ls-login__link__reg {
    float: left;
}
.ls-login__link__forget {
    float: right;
}
.ls-form.zip,
.ls-form.address { margin-bottom: 16px; }
.ls-form.zip,
button.zip-button {
    display: inline-block;
    width: -webkit-calc(50% - 8px);
    width: -moz-calc(50% - 8px);
    width: calc(50% - 8px);
}
.ls-form.zip { margin-right: 16px;}









/* 디테일 페이지 */
main {
    z-index: 1;
    max-width: 1376px;
    margin: 0 auto;
}
/* 디테일 페이지 -- 타이틀 영역 */
.ls-detail-title,
.ls-detail-body {
    width: inherit;
    padding: 32px;
    font-size: 0;
    margin: 48px 32px 0;
    border-radius: 24px;
    background: var(--color-white);
    box-shadow: var(--shadow-box);
}
.ls-detail-title:after,
.ls-detail-body:after { display: block; clear: both; content: ''; }
.ls-detail-title .ls-detail-title__header,
.ls-detail-title .ls-detail-title__add-button {
    display: inline-block;
    width: 66.66%;
    vertical-align: top;
}
.ls-detail-title .ls-detail-title__add-button { width: 33.33%; }
.ls-detail-title .ls-detail-title__add-button .ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background: url("../img/svg/ls_check_w.svg");
    vertical-align: sub;
}
@media screen and (max-width: 767px) {
    .ls-detail-title,
    .ls-detail-body {
        padding: 32px 12px;
        margin: 0;
        border-radius: 0;
    }
    .ls-detail-title .ls-detail-title__add-button { width: 100%; margin-top: 32px; }
}

.ls-detail-title__form {
    font-size: 0;
    margin-top: 32px;
    border-top: 1px solid var(--color-disabed);
    padding-top: 32px;
}
.ls-detail-title__form:after{ display: block; clear: both; content: ''; }
.ls-detail-title__form input { margin-bottom: 0; }
.ls-detail-title__form .form-wrap{
    display: inline-block;
    width: -webkit-calc(33.33% - 16px);
    width: -moz-calc(33.33% - 16px);
    width: calc(33.33% - 16px);
    margin-right: 16px;
}

.ls-detail-title__form .button-wrap { display: inline-block; width: 33.33%; }
.ls-detail-title__form .button-wrap .search_ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background: url("../img/svg/ls_search_w.svg");
    vertical-align: sub;
}
@media screen and (max-width: 767px) {
    /*.ls-detail-title__form { margin-top: 24px; padding-top: 16px; }*/
    .ls-detail-title__form .form-wrap {
        width: -webkit-calc(50% - 8px);
        width: -moz-calc(50% - 8px);
        width: calc(50% - 8px);
        margin-right: 0;
    }

    .ls-detail-title__form .form-wrap .ls-form { margin-bottom: 0; }
    .ls-detail-title__form .form-wrap:first-of-type { margin-right: 16px; }
    .ls-detail-title__form .button-wrap {
        width: 100%;
        float: right;
        margin-top: 16px;
    }
}


/* 기본료 관리의 경우 */
#BasicFeeTitleSearch.ls-detail-title__form .form-wrap {
    width: -webkit-calc(25% - 16px);
    width: -moz-calc(25% - 16px);
    width: calc(25% - 16px);
}
#BasicFeeTitleSearch.ls-detail-title__form .button-wrap { width: 25%; }
@media screen and (max-width: 767px) {
    #BasicFeeTitleSearch.ls-detail-title__form .form-wrap {
        width: -webkit-calc(33.33% - 16px);
        width: -moz-calc(33.33% - 16px);
        width: calc(33.33% - 16px);
        margin-right: 24px;
    }
    #BasicFeeTitleSearch.ls-detail-title__form .button-wrap { width: 100%; }
    #BasicFeeTitleSearch.ls-detail-title__form .form-wrap:nth-of-type(3) { margin-right: 0; }
}


/* 사용량 계산의 경우 */
#BillTitleSearch.ls-detail-title__form .form-wrap,
#UsageManageTitleSearch.ls-detail-title__form .form-wrap {
    width: -webkit-calc(25% - 16px);
    width: -moz-calc(25% - 16px);
    width: calc(25% - 16px);
}
#BillTitleSearch.ls-detail-title__form .button-wrap,
#UsageManageTitleSearch.ls-detail-title__form .button-wrap { width: 25%; }
@media screen and (max-width: 767px) {
    #BillTitleSearch.ls-detail-title__form .form-wrap,
    #UsageManageTitleSearch.ls-detail-title__form .form-wrap {
        width: -webkit-calc(33.33% - 16px);
        width: -moz-calc(33.33% - 16px);
        width: calc(33.33% - 16px);
        margin-right: 24px;
    }
    #BillTitleSearch.ls-detail-title__form .button-wrap,
    #UsageManageTitleSearch.ls-detail-title__form .button-wrap { width: 100%; }
    #BillTitleSearch.ls-detail-title__form .form-wrap:nth-of-type(3),
    #UsageManageTitleSearch.ls-detail-title__form .form-wrap:nth-of-type(3) { margin-right: 0; }
}



/* 디테일 페이지 -- 바디 영역 */
.ls-detail-body {
    margin-top: 32px;
    min-height: 320px;
}
@media screen and (max-width: 767px) {
    .ls-detail-body { margin-top: 16px; }
}
/* 디테일 페이지 -- 바디영역 다운받기 */
.ls-detail-body__download {
    float: right;
    padding: 12px 16px;
    margin: 0 0 24px;
    color: var(--color-white);
    border-radius: 8px;
    border: none;
    background-color: var(--color-gray);
    font-size: var(--body-font);
    line-height: var(--body-lh);
    box-shadow: var(--shadow-box--button);
}
.ls-detail-body__download .down-ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background: url("../img/svg/ls_download_w.svg");
    vertical-align: sub;
}
.ls-detail-body__download:hover { opacity: .8; }
@media screen and (max-width: 767px){
    .ls-detail-body__download {
        width: 100%;
        margin: 16px 0 48px;
    }
}






/* 디테일 페이지 -- 바디영역 테이블 */
.ls-detail-body ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    clear: both;
    text-align: center;
}
.ls-detail-body ul li {
    display:inline-block;
    list-style: none;
    /*padding: 12px 8px;*/
    box-sizing: border-box;
    word-break: keep-all;
    vertical-align: middle;
}
.ls-detail-body__th {
    border-radius: 12px 12px 0 0;
    background: #666666;
    overflow: hidden;
}
.ls-detail-body__th li{
    padding: 12px 8px;
    font-size: var(--body-font);
    line-height: var(--body-lh);
    color: var(--color-white);
    background-color: #666666;
    /* border-right: 1px solid var(--color-gray); */
}
/* .ls-detail-body__th li:first-of-type { border-left: 1px solid var(--color-gray);} */

.ls-detail-body__tb {
    border: 1px solid var(--color-gray);
    border-top: none;
}
.ls-detail-body__tb:last-of-type {
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}
.ls-detail-body__tb li{
    background: #fff;
    padding: 12px 4px;
    font-size: var(--body-font);
    line-height: var(--body-lh);
    vertical-align: middle;
    /* border-right: 1px solid var(--color-gray); */
}
@media screen and (max-width: 960px) {
    .ls-detail-body__th li,
    .ls-detail-body__tb li { font-size: 13px; }
}
.ls-detail-body__tb li .mb-title { display: none; }
.ls-detail-body__tb li .click-button {
    border: none;
    min-width: 88px;
    padding: 6px 4px;
    color: var(--color-white);
    border-radius: 8px;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-box);
    font-size: var(--body2-font);
    line-height: var(--body2-lh);
    cursor: pointer;
    font-weight: 700;
}
.ls-detail-body__tb li .click-button.delete {
    border: 1px solid var(--color-gray);
    background-color: transparent;
    color: var(--color-gray);
    box-shadow: none;
}
.ls-detail-body__tb li .click-button:hover { opacity: .8; }

@media screen and (max-width: 767px) {
    .ls-detail-body__th{ display: none; }
    .ls-detail-body__tb {
        position: relative;
        padding: 8px 8px !important;
        /*padding: 0 !important;*/
        margin-bottom: 64px !important;
        border-top: 1px solid var(--color-gray);
        /*border-color: #e6e7e9;*/
        /*border-color: #666666;*/
        border-top-color: #666666;
        border-top-width: 16px;
        /*border: none;*/
        border-radius: 8px !important;
        background: #fafafa;
        /*box-shadow: var(--shadow-box);*/
    }
    .ls-detail-body__tb li .mb-title {
        position: relative;
        display: block;
        margin-bottom: 4px;
        /*color: var(--color-primary);*/
        /*border-bottom: 1px solid var(--color-primary);*/
        opacity: .8;
        background: #e6e7e9;
        font-size: 13px;
    }
    .ls-detail-body__tb li .mb-title:after {
        position: absolute;
        left: 0;
        width: 8px;
        height: 8px;
        /*background: var(--color-primary);*/
        content: '';
    }
    .ls-detail-body__tb li span { font-weight: 700; word-break: break-word }
    .ls-detail-body__tb li span,
    .ls-detail-body__tb li strong { display: inline-block; padding: 4px; }
    .ls-detail-body__tb li {
        padding: 8px 0 16px;
        vertical-align: top;
        text-align: left;
    }
}





/*건물관리*/
#BuildingBody > ul li{ width: 20%; }
@media screen and (max-width: 767px) {
    #BuildingBody .ls-detail-body__tb li { width: 50%; }
    #BuildingBody .ls-detail-body__tb li:nth-of-type(n+3) { width: 25%; }
    #BuildingBody .ls-detail-body__tb li:nth-of-type(n+5) { width: 50%; }
    #BuildingBody .ls-detail-body__tb li:nth-of-type(1) .mb-title,
    #BuildingBody .ls-detail-body__tb li:nth-of-type(3) .mb-title { border-radius: 8px 0 0 8px}
    #BuildingBody .ls-detail-body__tb li:nth-of-type(2) .mb-title,
    #BuildingBody .ls-detail-body__tb li:nth-of-type(5) .mb-title { border-radius: 0 8px 8px 0}
}

/* 시설 관리 */
@media screen and (max-width: 767px) {
    #FacilityBody .ls-detail-body__tb li { width: 33.33%; }
    #FacilityBody .ls-detail-body__tb li button { width: 50%; margin-top: 4px; }
}

/* 청구 관리 */
#ClaimBody > ul li {
    width: -webkit-calc((100% - (88px + 56px + 72px)) / 7);
    width: -moz-calc((100% - (88px + 56px + 72px)) / 7);
    width: calc((100% - (88px + 56px + 72px)) / 7);
}
#ClaimBody > ul li:first-of-type { max-width: 88px; width: 100%; }
#ClaimBody > ul li:nth-of-type(2) { max-width: 56px; width: 100%; }
#ClaimBody > ul li:last-of-type { max-width: 72px; width: 100%; }
@media screen and (max-width: 767px) {
    #ClaimBody .ls-detail-body__tb li { width: 20% !important; max-width: none !important; }
}

/* 청구 관리 - 기본료 관리 */
#BasicFeeBody > ul li { width: calc(100% / 7 )}
#BasicFeeBody > ul li { width: -webkit-calc((100% - (88px + 88px)) / 5); }
#BasicFeeBody > ul li:first-of-type { max-width: 88px; width: 100%; }
#BasicFeeBody > ul li:nth-of-type(2) { max-width: 88px; width: 100%; }
#BasicFeeBody > ul li .click-button { width: 95%; }
@media screen and (max-width: 767px) {
    #BasicFeeBody > ul li { width: 33.33% !important; max-width: none !important; }
    #BasicFeeBody > ul li:nth-of-type(n+4) { width: 25% !important; max-width: none !important; }
}



/* 청구 관리 - 사용료 계산 */
#UsageManageBody > ul li { width: calc(100% / 7 )}
#UsageManageBody > ul li { width: -webkit-calc((100% - (88px + 88px)) / 5); }
#UsageManageBody > ul li:first-of-type { max-width: 88px; width: 100%; }
#UsageManageBody > ul li:nth-of-type(2) { max-width: 88px; width: 100%; }
#UsageManageBody > ul li .click-button { width: 95%; }
@media screen and (max-width: 767px) {
    #UsageManageBody > ul li { width: 33.33% !important; max-width: none !important; }
    #UsageManageBody > ul li:nth-of-type(n+4) { width: 25% !important; max-width: none !important; }
}

/* 청구 관리 - 청구서 */
#BillBody > ul li { width: calc(100% / 7 )}
#BillBody > ul li { width: -webkit-calc((100% - ( 88px + 56px + 88px + 180px + 200px)) / 1); }
#BillBody > ul li:first-of-type { max-width: 88px; width: 100%; }
#BillBody > ul li:nth-of-type(2) { max-width: 56px; width: 100%; }
#BillBody > ul li:nth-of-type(4) { max-width: 88px; width: 100%; }
#BillBody > ul li:nth-of-type(5),
#BillBody > ul li:nth-of-type(6){ max-width: 100px; width: 100%; }
#BillBody > ul li:last-of-type { max-width: 180px; width: 100%; }
#BillBody > ul li:last-of-type .click-button {
    min-width: auto;
    padding: 6px 8px;
    margin: 0 4px 8px 0;
    background: #666666;
}
@media screen and (max-width: 767px) {
    #BillBody > ul li { max-width: none !important; width: 25% !important; }
    #BillBody > ul li:nth-of-type(3) { width: 50% !important; }
    #BillBody > ul li:nth-of-type(4) { width: 50% !important; }
    #BillBody > ul li:nth-of-type(5),
    #BillBody > ul li:nth-of-type(6) { width: 25% !important; }
    #BillBody > ul li:last-of-type { width: 100% !important; }
    #BillBody > ul li:last-of-type .click-button { width: calc(33.33% - 10px); margin: 0 4px; }
    #BillBody > ul li:last-of-type .click-button:last-of-type {}
}


/* 입금 관리 - 입금 */
#CreditBody > ul li {
    width: calc(100% / 7);
}
@media screen and (max-width: 767px) {
    #CreditBody > ul li{ width: calc(100% / 3); }
    #CreditBody > ul li:nth-of-type(1),
    #CreditBody > ul li:nth-of-type(2) { width: 25%; }
    #CreditBody > ul li:nth-of-type(3) { width: 50%; }
    #CreditBody > ul li:last-of-type { width: 100%; }
}

/* 입금 관리 - 체납 */
#ArrearsBody > ul li {
    width: calc(100% / 8);
}
@media screen and (max-width: 767px) {
    #ArrearsBody > ul li{ width: calc(100% / 2); }
    #ArrearsBody > ul li:nth-of-type(1),
    #ArrearsBody > ul li:nth-of-type(2) { width: 25%; }
    #ArrearsBody > ul li:nth-of-type(3) { width: 50%; }
    #ArrearsBody > ul li:last-of-type { width: 100%; }
}



/* 정산 관리 - 지출 */
#ExpenseBody > ul li {
    width: calc(100% / 5);
}
@media screen and (max-width: 767px) {
    #ExpenseBody > ul li{ width: calc(100% / 2); }
    #ExpenseBody > ul li:nth-of-type(1),
    #ExpenseBody > ul li:nth-of-type(2) { width: 25%; }
}

/* 정산 관리 - 정산 */
#CalculationBody > ul li {
    width: calc(100% / 6);
}
@media screen and (max-width: 767px) {
    #CalculationBody > ul li{ width: calc(100% / 2); }
    /*#CalculationBody > ul li:nth-of-type(1),*/
    /*#CalculationBody > ul li:nth-of-type(2) { width: 25%; }*/
}

#FacilityBody ul li,
#LeaseBody ul li { width: calc(100% / 6);}
/*#ClaimBody ul li { width: calc(100% / 10);}*/





/* 디테일 페이지 -- 바디영역 페이지네이션*/
.ls-detail-body__pagenation {
    margin: 24px 0 0 !important;
    text-align: right !important;
}
.ls-detail-body__pagenation li {
    width: auto !important;
}
.ls-detail-body__pagenation li a {
    display: inline-block;
    min-width: 16px;
    margin: 0 4px;
    text-align: center;
    text-decoration: none;
    font-size: var(--body2-font);
    line-height: var(--body2-lh);
    color: var(--color-primary);
}
.ls-detail-body__pagenation li a:hover { opacity: .8; }
.ls-detail-body__pagenation li:first-of-type a,
.ls-detail-body__pagenation li:last-of-type a{
    color: var(--color-gray);
    margin: 0 8px;
}
.ls-detail-body__pagenation li a.active {
    border-radius: 4px;
    color: var(--color-white);
    background-color: var(--color-primary);
}
@media screen and (max-width: 767px) {
    .ls-detail-body__pagenation { text-align: center !important; margin: 48px 0 32px !important; }
}













/* 모달 영역*/
.ls-modal {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 24px 24px 48px;
}
.ls-modal-fade {
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    content: '';
}
.ls-modal.open { display: block; }
.ls-modal-body {
    position: relative;
    z-index: 1;
    /*top: 48px;*/
    max-width: 640px;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    border-radius: 16px;
    background: var(--color-white);
    box-sizing: border-box;
    box-shadow: var(--shadow-box);
}
@media screen and (max-width:767px) {
    .ls-modal { padding: 24px 0 0 }
    .ls-modal-body {
        min-height: -webkit-calc(100vh - 24px);
        min-height: -moz-calc(100vh - 24px);
        min-height: calc(100vh - 24px);
    }
}

/* 모달 타이틀*/
.ls-modal-body .modal-body__title {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #999;
    margin-bottom: 32px;
}
.ls-modal-body .modal-body__title h5,
.ls-modal-body .modal-body__title h6{ display: inline-block; vertical-align: middle; }
.ls-modal-body .modal-body__title .modal-close {
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 8px;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background: var(--color-black) url("../img/svg/ls_close_w.svg") center/ 80% no-repeat;
    vertical-align: middle;
}

/* 모달 디테일 */
.ls-modal-body .ls-primary-button--l { margin-top: 48px; }
